<footer>
    <div class="ulpgcds-footer">       
        <div class="ulpgcds-footer__top wrapper">
            <div class="row">
            <div class="col-6">
                <div class="footer-logo">  </div>
                <div class="row">
                    <div class="col-6">
                    <h3>Contacto dirección</h3>
                    <p>direccion.eii@ulpgc.es</p>
                    <p>+34 928 45 87 19</p>
                    </div>
                    <div class="col-6">
                    <h3>Contacto Administración</h3>
                    <p>admon_einf@ulpgc.es</p>
                    <p>+34 928 45 87 61/62</p>
                    </div>      
                </div>                 
                <div class="ulpgcds-footer__social">
                  <h3>Síguenos en</h3>
<ul>
<li class="twitter">
    <a href="https://twitter.com/eii_ulpgc" class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon" target="_blank">
        <i class="ulpgcds-btn__icon icon-twitter"></i>
        <span>Twitter</span>
    </a>
</li>
<li class="facebook">
    <a href="https://www.facebook.com/EII.ULPGC/" class="ulpgcds-btn ulpgcds-btn--ghost ulpgcds-btn--icon" target="_blank">
        <i class="ulpgcds-btn__icon icon-facebook"></i>
        <span>Facebook</span>
    </a>
</li>
</ul>
                </div> 
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <h3>Legal</h3>
                        <ul>
                             <li><a href="https://www.ulpgc.es/avisio-legal">Aviso legal</a></li>
                             <li><a href="https://www.ulpgc.es/">Política privacidad</a></li>
                             <li><a href="https://www.ulpgc.es/">Cookies</a></li>
                             <li><a href="https://www.ulpgc.es/">Accesibilidad </a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h3>Dirección Postal</h3>
                        <p> Dirección postal
                            Escuela de Ingeniería Informática.
                            Edificio Departamental de Informática y Matemáticas.
                            Campus Universitario de Tafira.
                            35017 Las Palmas de Gran Canaria  
                        </p>   
                    </div>
                    <div class="col-4">
                        <h3>Enlaces de interés</h3>
                        <ul>
                             <li><a href="https://www.ulpgc.es/adm_eim/inicio">Administración</a></li>
                             <li><a href="https://biblioteca.ulpgc.es/inf">Biblioteca</a></li>
                             <li><a href="https://www.eii.ulpgc.es/tb_university_ex/?q=departamentos-con-docencia-en-la-eii">Departamentos</a></li>
                        </ul>   
                    </div>
                </div>
            </div>
            </div>     
        </div>

        <div class="ulpgcds-footer__bottom">
            <div class="wrapper">
                <p>© Universidad de Las Palmas de Gran Canaria · ULPGC</p>             
            </div>
        </div>
    </div>
</footer> 
