<footer>
    <div class="ulpgcds-footer">       
        <div class="ulpgcds-footer__top wrapper">
            <div class="row">
            <div class="col-6">
                <div class="footer-logo">  
                    <img src="assets/img/logo.jpg" style="background-color: grey;">
                </div><br>
                <div class="row">
                    <div class="col-6">
                        <h3>Dirección</h3>
                        <p>Edificio Informática y Matemáticas</p>
                        <p>Campus Universitario de Tafira</p>
                        <p>35017 Tafira - Las Palmas de Gran Canaria</p>
                        <p>España</p>
                    </div>
                    
                    <div class="col-6">
                        <h3><a [routerLink]="['/contact']">Contacto</a></h3>
                         <p><strong>web:</strong> <a href="https://www.dis.ulpgc.es"> www.dis.ulpgc.es</a></p>
                         <p><strong>correo:</strong> <a href="mailto:secdis@dis.ulpgc.es"> secdis@dis.ulpgc.es</a></p>
                         <p><strong>tlf: </strong>(+34) 928 458740</p>
                         <p><strong>fax: </strong>(+34) 928 458650, (+34) 928 458711</p>
                         <p><a href="mailto:secdis@dis.ulpgc.es">Quejas, sugerencias y felicitaciones</a></p>                         
                    </div>
                </div>
            </div> 

            
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <h3>Legal</h3>
                        <ul>
                             <li><a href="https://www.ulpgc.es/sobre-esta-web/aviso-legal">Aviso legal</a></li>
                             <li><a href="https://www.ulpgc.es/sobre-esta-web/tratamiento-datos-personales">Política privacidad</a></li>
                             <li><a href="https://www.ulpgc.es/sobre-esta-web/cookies">Cookies</a></li>
                             <li><a href="https://www.ulpgc.es/sobre-esta-web/accesibilidad">Accesibilidad </a></li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <h3>Servicios</h3>
                        <ul>
                             <li><a href="http://ccdis.dis.ulpgc.es/gestlab/extras/phpCAS-master/docs/examples/accesolabreservas.php">Reserva de Laboratorios</a></li>
                             <li><a href="http://www.dis.ulpgc.es/vpn/">Acceso VPN a los Laboratorios</a></li>
                             <li><a href="http://www.dis.ulpgc.es/documentos/">Repositorio</a></li>
                             <li><a href="http://www.dis.ulpgc.es/documentacion/">Documentacion</a></li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <h3>Enlaces de interés</h3>
                        <ul>
                             <li><a href="https://www.ulpgc.es">ULPGC</a></li>
                             <li><a href="https://www.eii.ulpgc.es">Escuela de Ingeniería Informática</a></li>
                             <li><a href="https://eiic.ulpgc.es">Escuela de Ingenierías Industriales y Civiles</a></li>
                        </ul>   
                    </div>                

                </div>
            </div>
            </div>     
        </div>

        <div class="ulpgcds-footer__bottom">
            <div class="wrapper">
                <p>© Universidad de Las Palmas de Gran Canaria · ULPGC</p>             
            </div>
        </div>
    </div>
</footer> 