<div class="container1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1760.2064204276571!2d-15.452338930329203!3d28.072947384903152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc4095d45a6f90ef%3A0xdc47519abbbe0084!2sEscuela%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica!5e0!3m2!1ses!2ses!4v1651595728781!5m2!1ses!2ses" 
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<div class="container">
    <div class="cont1">
        <h1 class="titulo1">Contactar con DIS</h1>
        <hr>
        <h3 class="titulo2">Dirección y Contacto</h3>
        <p>
            Dirección: Edificio Informática y Matemáticas; Campus de Tafira, 35017 Las Palmas de Gran Canaria, Las Palmas
        </p>
        <ul>
            <li>
                <strong>secdis@dis.ulpgc.es</strong>
            </li>
            <li>
                <strong>+34 928 45 87 19</strong>
            </li>
        </ul>
    
        <h2 class="titulo2">Transporte</h2>
        <p>
            Actualmente, la ciudad de Las Palmas de Gran Canaria cuenta con un continuo servicio de guaguas que comunica 
            distintos puntos de la isla con el Campus Universitario de Tafira.
            Para la línea GLOBAL, puede escoger las siguientes: <a href="https://www.guaguasglobal.com/lineas-horarios/linea/?id=327&amp;doing_wp_cron=1618253649.4429109096527099609375" target="_blank" rel="noopener">327</a>
            y <a href="https://www.guaguasglobal.com/lineas-horarios/linea/?id=327&amp;doing_wp_cron=1618253649.4429109096527099609375" target="_blank" rel="noopener">328</a> .
            Para la línea MUNICIPAL, las siguientes: <a href="https://www.guaguas.com/lineas/7" target="_blank" rel="noopener">7</a> y <a href="https://www.guaguas.com/lineas/25" target="_blank" rel="noopener">25</a> .
        </p>

        <a href="http://www.globalsu.net/" target="_blank" rel="noopener">WEB de Global</a>
        <a href="http://www.guaguas.com/" target="_blank" rel="noopener">WEB de Guaguas municipales</a>
    </div>
    
    <div class="cont2">
        <img src="assets/img/contact.png" alt="imagen contacto" title="contact">
    </div>
</div>
