<div class="container1">
    <div class="container">
        <h3 class="titulo1">Miembros del Departamento</h3>
        <h3 class="titulo2">Personal Docente</h3>
        <div class="containerbutton">
            <a type="button" class="create-button" [routerLink]="['teacher/create']">Añadir Profesor</a><hr class="hr">
        </div>
        <div class="ulpgcds-accordion" *ngFor="let teacher of teachersByArea">
            <h3>
                <h4>Área de conocimiento:</h4>
                <button aria-controls="accordion-panel-0" aria-expanded="true">
                    <span class="ulpgcds-accordion__title"></span>
                    {{ getKnowledgeArea(teacher['area'])}}
                </button>
            </h3>
            <div class="ulpgcds-accordion__panel">
                <div aria-hidden="false" aria-labelledby="accordion-button-0" class="ulpgcds-accordion__content" role="region">
                    <table class="tablesaw" data-tablesaw-mode="stack">
                        <thead>
                            <tr>
                                <th>Apellidos, Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of teacher['teachers']">
                                    <td><a [routerLink]="['/teacher','teachers',aux.id]">{{ aux.surnames }}, {{ aux.name }}</a></td>
                                    <td>{{ aux.email }}</td>
                                    <td>{{ aux.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br><br>
        <h3 class="titulo2">Personal De Administración y Servicios</h3><hr class="hr">
        <div class="ulpgcds-accordion" *ngFor="let teacher of teachersPAS">
            <div class="ulpgcds-accordion__panel">
                <div aria-hidden="false" aria-labelledby="accordion-button-0" class="ulpgcds-accordion__content" role="region">
                    <table class="tablesaw" data-tablesaw-mode="stack">
                        <thead>
                            <tr>
                                <th>Apellidos, Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of teacher['teachers']">
                                    <td><a [routerLink]="['/teacher','teachers',aux.id]">{{ aux.surnames }}, {{ aux.name }}</a></td>
                                    <td>{{ aux.email }}</td>
                                    <td>{{ aux.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
