.container1 {
    margin: 0 auto;
    margin: 165px 0px 40px 0px;
}

.titulo1 {
    margin-top: 20px;
    margin-right: auto;
    font-family: "Rubik",Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 15px;
    font-size: 35px;
    line-height: 45px;
    color: #0066a1;
}

.containerbutton {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .titulo1 {
        margin-top: 20px;
        margin-right: auto;
        font-family: "Rubik",Arial,Helvetica,sans-serif;
        font-weight: 500;
        padding: 15px;
        font-size: 35px;
        line-height: 45px;
        color: #0066a1;
    }
    
    .create-button {
        padding: 5px;
        background-color: #0066a1;
        color: #fff;
        border-radius: 5px;
        align-self: auto;
    }

    .create-button:hover {
        background-color: #FFA100; 
     }

}

.create-buttonred {
    padding: 5px;
    width: auto;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}

.create-buttonred:hover {
    background-color: #f36161;
}
    
.titulo2 {
    font-family: "Rubik",Arial,Helvetica,sans-serif;
    padding: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: #0066a1;
}

.hr {
    color: #FFB433;
    height: 4px;
}