<div>
    <ul class="ulpgcds-carrusel ulpgcds-carrusel--large">
        <li>
            <span class="ulpgcds-carrusel--large__img">
                <img src="assets/img/imagen1.png"
                    alt="Texto alternativo imagen 1" />
            </span>
            <span class="ulpgcds-carrusel--large__box">
                <span class="ulpgcds-carrusel__center">
                    <h2>Ranking THE</h2>
                    <p>Texto descriptivo pruebas</p><a href="#" class="ulpgcds-btn ulpgcds-btn--primary">Acceder</a>
                </span>
            </span>
        </li>
        <li><span class="ulpgcds-carrusel--large__img"><img src="assets/img/imagen1.png"
                    alt="Texto alternativo imagen 3" />
            </span>
            <span class="ulpgcds-carrusel--large__box">
                <span class="ulpgcds-carrusel__center">
                    <h2>Másteres universitarios</h2>
                    <p>Texto descriptivo 3</p>
                    <a href="#" class="ulpgcds-btn ulpgcds-btn--primary">Acceso másteres</a>
                </span>
            </span>
        </li>
        <li><span class="ulpgcds-carrusel--large__img"><img src="assets/img/imagen1.png"
                    alt="Texto alternativo imagen 4" />
            </span>
            <span class="ulpgcds-carrusel--large__box">
                <span class="ulpgcds-carrusel__center">
                    <h2>Casa África</h2>
                    <p>Texto descriptivo 4</p>
                    <a href="#" class="ulpgcds-btn ulpgcds-btn--primary">Ver noticia</a>
                </span>
            </span>
        </li>
    </ul>
</div>

<div class="container">
    <div class="cont1">
        <h1 class="titulo1">Departamento de Informática y Sistemas</h1>
        <h2 class="titulo2">Un Departamento con ILUSIÓN</h2>

        <p>El DIS está formado por profesorado adscrito al área de conocimiento de Arquitectura y Tecnología de
            Computadores; Ciencias de la Computación e Inteligencia Artificial;
            y Lenguajes y Sistemas Informáticos, que imparten docencia en diversos Grados y Másteres oficiales en la
            Facultad de Informática, Arquitectura, etc.
        </p>

        <p class="text">
            «Tenemos la ilusión y herramientas de ofrecer la máxima calidad docente a los estudiantes de las distintas
            disciplinas adscritas a nuestro Departamento»
        </p>
    </div>

    <div class="cont2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_v4Gg4Z6q8Y" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>