<div class="container1">
    <div class="container">
        <h3 class="titulo1">Documentación del DIS</h3><hr class="hr">
        <div class="ulpgcds-accordion__panel">
            <div aria-hidden="false" aria-labelledby="accordion-button-0" class="ulpgcds-accordion__content" role="region">
                <table class="tablesaw" data-tablesaw-mode="stack">
                    <thead>
                        <tr>
                            <th>Documentos</th>
                            <th>Fecha de Publicación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                                <td><a href="https://www.dis.ulpgc.es/documentacion/docs//CCDIS_Manual_utilizacion_VirtualBox_v12022021_CF.pdf" target="_blank">
                                        Manual Utilización VirtualBox
                                    </a>
                                </td>
                                <td>
                                    16-feb-2021
                                </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://web.microsoftstream.com/video/e06cdc65-2ff2-4a05-bdce-dedb64757677?referrer=https:%2F%2Fwww.dis.ulpgc.es%2F" target="_blank">
                                    MPresentación PODOnline
                                </a>
                            </td>
                            <td>
                                01-may-2021
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.dis.ulpgc.es/documentacion/docs/PodOnline/tutorial_POD_online_DPTO_FILOLOGIA.pdf" target="_blank">
                                    Tutorial PODOnline-DPTO FILOLOGÍA
                                </a>
                            </td>
                            <td>
                                19-abr-2021
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="" target="_blank">
                                    Vídeo Datos de Entrada Discoverer
                                </a>
                            </td>
                            <td>
                                26-abr-2022
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
