<div class="container1">
    <div>
        <img class="container2" src="assets/img/security.png" alt="Imagen seguridad">
    </div>
</div>

<div class="container3">
    <div class="container">
        <h3 class="titulo1">Control de Seguridad en la red</h3><hr class="hr">
            <p>
                Con el fin de mejorar la seguridad de las máquinas Unix docentes, el Centro de Cálculo ha restringido el acceso a dichas máquinas, de manera que solamente 
                se pueda acceder a ellas a través de canales seguros. <br>

                El acceso a las máquinas vía Telnet, FTP (no anónimo) y POP3 ha sido cancelado, ya que dichos servicios son los más críticos, al transferir las claves de 
                usuario en texto claro por la red. <br>

                Los nuevos servicios a utilizar serán el Sshell (versiones Win32, Linux, HP-UX e Irix) para abrir terminales en modo seguro y el SCP (versiones Linux, 
                HP-UX e Irix) para copiar ficheros entre máquinas en modo seguro. <br>

                Para poder leer correo de manera segura, se ha instalado en CORREO un servidor de IMAP sobre SSL. Para acceder a este servicio debemos utilizar un cliente 
                que soporte IMAP sobre SSL. <br>

                Para transferir ficheros desde máquinas Win32, lo mejor es utilizar el 
                <a href="http://www.dis.ulpgc.es/documentos/index.asp?Path=Software\Internet\Comunicaciones">cliente de SSH2</a> disponible en el repositorio del DIS.
            </p>
    </div>
</div>
