.container1 {
    margin: 0 auto;
    margin: 165px 0px 40px 0px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.containerbutton {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    
    .titulo1 {
        margin-top: 20px;
        margin-right: auto;
        font-family: "Rubik",Arial,Helvetica,sans-serif;
        font-weight: 500;
        padding: 15px;
        font-size: 35px;
        line-height: 45px;
        color: #0066a1;
    }
    
    .create-button {
        text-align: center !important; 
        padding: 5px;
        background-color: #0066a1;
        color: #fff;
        border-radius: 5px;
        align-self: auto;
        margin-right: 10px;
    }

    .create-button:hover {
       background-color: #FFA100; 
    }

    .create-buttonred {
        padding: 5px;
        background-color: red;
        margin-top: 8px;
        color: #fff;
        border-radius: 5px;
        align-self: auto;
    }
}

.titulo1 {
    font-family: "Rubik",Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 15px;
    font-size: 35px;
    line-height: 45px;
    color: #0066a1;
}

.titulo2 {
    font-family: "Rubik",Arial,Helvetica,sans-serif;
    padding: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: #0066a1;
}

.hr {
    color: #FFB433;
    height: 4px;
}