<div class="container1">
    <div class="container">
        <h3 class="titulo1">Crear Asignatura de Doctorado</h3><hr class="hr">
        <form class="form" [formGroup]="formGroup" (submit)="crearFormulario()">
            <label for="inputNombre">Nombre</label>
            <input type="text" id="inputNombre" placeholder="Nombre" formControlName="name"><br><br>
            <label for="inputCodigo">Código</label>
            <input type="number" id="inputCodigo" placeholder="Código" formControlName="code"><br><br>
            <label for="inputPlan">Plan</label>
            <input type="number" id="inputPlan" placeholder="Plan" formControlName="plan"><br><br>
            <label for="inputSpecialty">Especialidad</label>
            <select name="inputSpecialty" formControlName="specialty">
                <option value="NONE">Ninguna</option>
                <option value="TIC">Tecnologías de la Información</option>
                <option value="IS">Ingeniería del Software</option>
                <option value="COMP">Computación</option>
                <option value="IC">Ingeniería de Computadores</option>
                <option value="DOCTORATE">Doctorado</option>
                <option value="OPT">Optativa General</option>
            </select><br><br>
            <label for="inputSchool">Escuela</label>
            <input type="text" id="inputSchool" placeholder="Escuela" formControlName="school"><br><br>
            <label for="inputDepartment">Departamento</label>
            <select name="inputDepartment" formControlName="department" multiple>
                <option value="NONE">Ninguna</option>
                <option value="SYSTEMS">Informática y Sistemas</option>
                <option value="PHILOLOGY">Filología Moderna, Traducción e Interpretación</option>
                <option value="TELEFORMATION">Teleformación</option>
                <option value="PROCESS">Ingeniería de Procesos</option>
                <option value="CIVIL">Ingeniería Civil</option>
                <option value="COMUNICATIONS">Comunications</option>
                <option value="ELECTRONIC">Ingeniería Electrónica y Automática</option>
                <option value="ECONOMY">Economía y Dirección de Empresas</option>
                <option value="TELEMATICS">Ingeniería Telemática</option>
                <option value="PHYSICAL">Física</option>
            </select><br><br>
            <label for="inputType">Tipo</label>
            <select name="inputType" formControlName="type">
                <option value="OBLIGATORY">Obligatoria</option>
                <option value="OPTIONAL">Opcional</option>
                <option value="BASIC">Básica</option>
            </select><br><br>
            <label for="inputCharacter">Caracter</label>
            <select name="inputCharacter" formControlName="character">
                <option value="SIGNATURE">Asignatura</option>
                <option value="PRACTICES">Prácticas Externas</option>
                <option value="TFT">Trabajo de Fin de Título</option>
            </select><br><br>
            <label for="inputDuration">Semestre</label>
            <input type="number" id="inputDuration" placeholder="1 o 2" formControlName="duration"><br><br>
            <label for="inputCredit">Créditos</label>
            <input type="number" id="inputCredit" placeholder="6" formControlName="credits"><br><br>
            <label for="inputCourse">Curso</label>
            <input type="number" id="inputCourse" placeholder="1-5" formControlName="course"><br><br>
            <label for="inputTeachingProject">Proyecto Docente</label>
            <input type="file" id="TeachingProject" placeholder="Proyecto Docente" formControlName="teachingProject"><br><br>
            <label for="inputCourseId">Grado</label>
            <select name="inputCourseId" formControlName="courseId">
                <option value="{{doctorate.id}}" *ngFor="let doctorate of doctorates">{{doctorate.name}}</option>
            </select><br><br>
            <button type="submit">Crear</button>
        </form>
        <span *ngIf="errorMessage" class="errorMessage"><strong>Campos erróneos o incompletos</strong></span>
    </div>
</div>