<div class="container1">
    <div>
        <img class="container2" src="assets/img/uni.jpg" alt="First slide">
    </div>
</div>

<div class="container1">
    <div class="container">
        <h3 class="titulo1">Conócenos</h3><hr class="hr">
        <p>
            Una vez creada la Universidad de Las Palmas de Gran Canaria, comienza el desarrollo y posterior consolidación del Departamento de Informática Y 
            Sistemas de la misma. En sus inicios se contaba con pocos docentes e investigadores, a pesar de lo cual se atendían las actividades docentes 
            correspondientes a un elevado número de disciplinas adscritas al mismo y se continuaban, por unos profesores, sus tareas de investigación, mientras un 
            elevado número de profesores recién incorporados se iniciaba en tales tareas, realizando los cursos de doctorado y publicando diversos artículos 
            de investigación. <br><br>

            En todos los cursos académicos siempre ha sido objetivo prioritario de todo el profesorado del Departamento el desempeño de las correspondientes actividades 
            docentes, intentando ofrecer a todos los estudiantes de las distintas disciplinas adscritas al mismo, la máxima calidad docente, dedicando tiempo y esfuerzo 
            a la preparación de las clases, a su eficiente impartición y a atender rigurosamente las tutorías correspondientes. Ello se ha conseguido plenamente, como 
            ponen de manifiesto los resultados globales, curso tras curso, de las encuestas de satisfacción del alumnado. <br><br>

            Junto al trabajo desarrollado por el profesorado con dedicación exclusiva a las tareas docentes y de investigación, también hay que poner de manifiesto el 
            eficiente trabajo en el ámbito docente de los profesores contratados a tiempo parcial, de tal forma que los mismos han transmitido, en las correspondientes 
            disciplinas en las que han colaborado, su experiencia profesional fuera del ámbito de la ULPGC. <br><br>

            Con el impulso, el trabajo de todos, se ha hecho posible la realidad de lo que en la actualidad es el Departamento de Informática y Sistemas. 
            Y las perspectivas futuras son muy halagüeñas, pues se cuenta con profesorado formado, con ilusión y ganas de seguir desarrollando sus tareas docentes e 
            investigadoras, tanto a nivel individual como en el seno de los distintos grupos de investigación constituidos.
        </p>

        <div class="columnboton">
            <div class="izquierda">
                <div class="ulpgcds-btn ulpgcds-btn--primary">
                    <a [routerLink]="['/theDepartment/directive']" class="textB">
                       <span class="ulpgcds-icon-add-user"></span>
                       Ver Equipo Directivo
                    </a>
                </div>
                <div class="ulpgcds-btn ulpgcds-btn--primary">
                    <a [routerLink]="['/teacher/teachers']" class="textB">
                        <span class="ulpgcds-icon-add-user"></span>
                        Ver Personal Docente y de Admin.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
