<div class="container1">
    <div class="container">
            <h3 class="titulo1">Noticias del Departamento</h3>
            <div *ngIf="isAdmin === true">
                <a type="button" class="create-button" [routerLink]="['create']">Crear noticia</a>
            </div>
            <hr class="hr">
        <div *ngFor="let new of news">
            <div class="rectangulo">
                <strong class="date">
                    {{ new.date }}
                    <img src="{{new.image}}" alt="Imagen noticia">
                </strong>
                <h3 class="title">{{ new.title }}</h3><hr class="hr">
                <article class="ulpgcds-article"><strong>{{ new.description }}</strong></article>
                <section>
                    <ngx-doc-viewer
                        [url]="new.file"
                        viewer="google"
                        style="width:100%;height:50vh;padding: 15px;">
                    </ngx-doc-viewer>
                </section>
                <div *ngIf="isAdmin === true">
                    <button type="button" class="create-buttonred" (click)="deleteNew(new.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <hr class="hrAzul">
        </div>
    </div>
</div>
