<div class="container1">
    <div class="container">
        <h3 class="titulo1">Noticias del Departamento</h3><hr class="hr">
        <div *ngFor="let new of news">
            <div class="rectangulo">
                <strong class="date">{{ new.date }}</strong>
                <h3 class="title">{{ new.title }}</h3><hr class="hr">
                <article class="ulpgcds-article"><strong>{{ new.description }}</strong></article>
                <section>
                    <ngx-doc-viewer
                        [url]="new.file"
                        viewer="google"
                        style="width:100%;height:50vh;padding: 15px;">
                    </ngx-doc-viewer>
                </section>
            </div>
            <hr class="hrAzul">
        </div>
    </div>
</div>
