<div class="container1">
    <div>
        <img class="container2" src="assets/img/vpn.jpg" alt="Imagen VPN">
    </div>
</div>

<div class="container3">
    <div class="container">
        <h3 class="titulo1">Servicio VPN del DIS</h3><hr class="hr">
        <p>
            MiDIS es una zona privada disponible para cada usuario/a del Departamento de Informatica y Sistemas de la ULPGC, desde la que podrás acceder de forma segura 
            a información restringida del Departamento, así como a determinadas herramientas on-line de gestión de procesos administrativos.<br><br>
        </p>

        <div class="ulpgcds-btn ulpgcds-btn--primary">
            <span class="ulpgcds-icon-file"></span>
            <a href="https://www.dis.ulpgc.es/vpn/OpenVPN-DIS.pdf" target="_blank" style="color:white;">Instalación del Cliente VPN del DIS (Documento PDF)</a>
        </div><br> 
        <div class="ulpgcds-btn ulpgcds-btn--primary">
            <span class="ulpgcds-icon-play"></span>
            <a href="assets/files/vpntutorial.mp4" target="_blank" style="color:white;">Instalación del Cliente VPN del DIS (Vídeo Tutorial)</a>
        </div> 
        
        <hr class="hrAzul">

        <p>
            MiDIS es una zona privada disponible para cada usuario/a del Departamento de Informatica y Sistemas de la ULPGC, desde la que podrás acceder de forma segura 
            a información restringida del Departamento, así como a determinadas herramientas on-line de gestión de procesos administrativos.
        </p>

        <div class="ulpgcds-btn ulpgcds-btn--primary">
            <span class="ulpgcds-icon-file"></span>
            <a href="assets/files/ovpn.ovpn" target="_blank" style="color:white;">Descarga aquí tu fichero .ovpn para el acceso a la VPN del DIS</a>
        </div><br> 
    </div>
</div>
