<div class="container1">
    <div class="container">
        <h3 class="titulo1">Equipo Directivo</h3><hr class="hr">
        <div *ngFor="let teacher of teachersByPosition">
            <div *ngFor="let aux of teacher['teachers']">
                <div *ngIf="aux.position == 'DIRECTOR'">
                    <h2>Director del Departamento: <a [routerLink]="['/teacher','teachers',aux.id]">{{aux.name}} {{aux.surnames}}</a></h2>
                    <p class="text">
                        Correo Electrónico: directordis.ulpgc.es <br>
                        Funciones del director: Se orientan especialmente hacia la coordinación de las actividades del Departamento y a ejecutar los acuerdos del 
                        Consejo de Departamento. Asimismo, representa al Departamento y ordena, por delegación expresa del Rector, los pagos y cantidades que deberán 
                        ser libradas.
                    </p>
                </div>
                <div *ngIf="aux.position == 'SECRETARY'">
                    <h2>Secretario del Departamento: <a [routerLink]="['/teacher','teachers',aux.id]">{{aux.name}} {{aux.surnames}}</a></h2>
                    <p class="text">
                        Correo Electrónico: agustin.salgadoulpgc.es <br>
                        Funciones del secretario: Dar fe de los acuerdos del Consejo de Departamento y custodiar los documentos del mismo. Desde el punto de vista funcional, 
                        es responsable de la organización burocrática y administrativa del Departamento.
                    </p>
                </div>
                <div *ngIf="aux.position == 'BOSS'">
                    <h2>Jefe de Servicio del Departamento: <a [routerLink]="['/teacher','teachers',aux.id]">{{aux.name}} {{aux.surnames}}</a></h2>
                    <p class="text">
                        Correo Electrónico: gabino.padronulpgc.es <br>
                        Funciones del jefe de servicio: Es el responsable de toda la infraestructura de investigación y docencia, de su mantenimiento y reposición, así como 
                        de coordinar el uso que hagan de ella los distintos profesores.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
